# Data Exploration

EDA (Exploratory Data Analysis) ini merupakan bagian dimana kita akan melakukan eksplorasi data dengan tujuan untuk memahami data dan bahkan menjawab pertanyaan dengan data. Pada bagian data exploration ini kita akan mengaplikasikan teknik statistik yang sudah dipelajari sebelumnya.

Contoh explore data (exploring data):
- cara import data
- cara mendapatkan insight dari data

menjawab pertanyaan dengan data (answering question):
- mencari fakta dari data
- menggali informasi dari data

bagaimana cara explore data:
- time to practice

In [2]:
import pandas as pd
import numpy as np

#### Exploring Data

sekarang kita akan import data dari website. Data ini adalah data tentang penggunaan alkohol di seluruh dunia.

In [3]:
df = pd.read_csv('http://bit.ly/drinksbycountry')
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

kita akan mencoba mendapatkan insight dengan fungsi yang sederhana

In [4]:
df.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

describe() digunakan untuk menjabarkan data yang kita miliki dalam bentuk statistik namun kolom yang dapat didescribe hanyalah kolom yang berisi data angka.

Dari data di atas kita bisa mengetahui mayoritas negara mengonsumsi beer dengan melihat hubungan antara mean dan std (**mean - std** hingga **mean + std**). Kita juga dapat mengetahui bahwa ada negara yang tidak mengonsumsi alkohol sama sekali dari nilai minimum (0). Kita juga bisa memprediksi outlier, coba lihat pada bagian **wine_servings**, nilai mediannya saja 8, meannya hanya 49 dan Q3 nya hanya 59 tetapi nilai maksimumnya mencapai 370 yang menunjukkan bahwa kemungkinan besar ada outlier.


apakah data string tidak bisa dilihat data statistiknya? **bisa duonk**

gunakan describe(include='all')

In [5]:
df.describe(include='all')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
count,193,193.000000,193.000000,193.000000,193.000000,193
unique,193,NaN,NaN,NaN,NaN,6
top,Togo,NaN,NaN,NaN,NaN,Africa
freq,1,NaN,NaN,NaN,NaN,53
mean,NaN,106.160622,80.994819,49.450777,4.717098,NaN
std,NaN,101.143103,88.284312,79.697598,3.773298,NaN
min,NaN,0.000000,0.000000,0.000000,0.000000,NaN
25%,NaN,20.000000,4.000000,1.000000,1.300000,NaN
50%,NaN,76.000000,56.000000,8.000000,4.200000,NaN
75%,NaN,188.000000,128.000000,59.000000,7.200000,NaN
max,NaN,376.000000,438.000000,370.000000,14.400000,NaN

jika kita lihat kolom country, **unique** adalah jumlah data unik, **top** adalah data yang paling sering keluar dan berhubung semua negara unik sehingga semua negara bisa menjadi **top** dengan **freq** nya 1. Begitu pula dengan continent, namun **top** nya adalah Africa dengan **freq** nya berjumlah 53 artinya ada 53 data berisi Africa.

Bagaimana jika kita ingin mengetahui info kolom dalam data?

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 6 columns):
country                         193 non-null object
beer_servings                   193 non-null int64
spirit_servings                 193 non-null int64
wine_servings                   193 non-null int64
total_litres_of_pure_alcohol    193 non-null float64
continent                       193 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 9.1+ KB

info di atas menunjukkan banyak informasi seperti type data, bahkan kolom yang memiliki nilai kosong. Kebetulan dari data di atas semuanya **non-null** artinya tidak ada nilai kosong. Kita juga bisa mengetahui memory usage dari data tersebut.

#### Answering the Question

- Ada berapa total country dari tiap continent dari dataset?

In [7]:
df['continent'].value_counts() #yang ini cukup sih sebenernya

Africa           53
Europe           45
Asia             44
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

In [8]:
df['continent'].value_counts().sort_values()

South America    12
Oceania          16
North America    23
Asia             44
Europe           45
Africa           53
Name: continent, dtype: int64

In [9]:
df['continent'].value_counts().sort_values(ascending=False)

Africa           53
Europe           45
Asia             44
North America    23
Oceania          16
South America    12
Name: continent, dtype: int64

- Berapa negara di Asia yang tidak mengonsumsi beer?

Kita akan melakukan filtering, pertama kita akan melihat negara negara di Asia

In [10]:
df[df['continent'] == 'Asia']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
12,Bahrain,42,63,7,2.0,Asia
13,Bangladesh,0,0,0,0.0,Asia
19,Bhutan,23,0,0,0.4,Asia
24,Brunei,31,2,1,0.6,Asia
30,Cambodia,57,65,1,2.2,Asia
36,China,79,192,8,5.0,Asia
46,North Korea,0,0,0,0.0,Asia
77,India,9,114,0,2.2,Asia
78,Indonesia,5,1,0,0.1,Asia
79,Iran,0,0,0,0.0,Asia
80,Iraq,9,3,0,0.2,Asia
82,Israel,63,69,9,2.5,Asia
85,Japan,77,202,16,7.0,Asia
86,Jordan,6,21,1,0.5,Asia
87,Kazakhstan,124,246,12,6.8,Asia
90,Kuwait,0,0,0,0.0,Asia
91,Kyrgyzstan,31,97,6,2.4,Asia
92,Laos,62,0,123,6.2,Asia
94,Lebanon,20,55,31,1.9,Asia
102,Malaysia,13,4,0,0.3,Asia
103,Maldives,0,0,0,0.0,Asia
112,Mongolia,77,189,8,4.9,Asia
116,Myanmar,5,1,0,0.1,Asia
119,Nepal,5,6,0,0.2,Asia
127,Oman,22,16,1,0.7,Asia
128,Pakistan,0,0,0,0.0,Asia
134,Philippines,71,186,1,4.6,Asia
137,Qatar,1,42,7,0.9,Asia
138,South Korea,140,16,9,9.8,Asia
141,Russian Federation,247,326,73,11.5,Asia
149,Saudi Arabia,0,5,0,0.1,Asia
154,Singapore,60,12,11,1.5,Asia
161,Sri Lanka,16,104,0,2.2,Asia
167,Syria,5,35,16,1.0,Asia
168,Tajikistan,2,15,0,0.3,Asia
169,Thailand,99,258,1,6.4,Asia
171,Timor-Leste,1,1,4,0.1,Asia
176,Turkey,51,22,7,1.4,Asia
177,Turkmenistan,19,71,32,2.2,Asia
181,United Arab Emirates,16,135,5,2.8,Asia
186,Uzbekistan,25,101,8,2.4,Asia
189,Vietnam,111,2,1,2.0,Asia
190,Yemen,6,0,0,0.1,Asia

sip, sekarang kita akan melihat negara Asia yang **beer_servings** nya samadengan **0**

In [11]:
df[(df['continent'] == 'Asia') & (df['beer_servings'] == 0)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
13,Bangladesh,0,0,0,0.0,Asia
46,North Korea,0,0,0,0.0,Asia
79,Iran,0,0,0,0.0,Asia
90,Kuwait,0,0,0,0.0,Asia
103,Maldives,0,0,0,0.0,Asia
128,Pakistan,0,0,0,0.0,Asia
149,Saudi Arabia,0,5,0,0.1,Asia

data di atas adalah negara-negara di Asia yang tidak mengonsumsi beer, sekarang bagaimana jika kita ingin menghitung jumlahnya?

In [12]:
len(df[(df['continent'] == 'Asia') & (df['beer_servings'] == 0)])

8

- negara di Eropa yang mengonsumsi wine dengan intesitas lebih dari 100

sama seperti sebelumnya tapi kita akan mencari negara di Eropa yang **wine_servings**nya lebih dari 100

In [13]:
df[(df['continent'] == 'Europe') & (df['wine_servings'] > 100)]

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
3,Andorra,245,138,312,12.4,Europe
9,Austria,279,75,191,9.7,Europe
16,Belgium,295,84,212,10.5,Europe
42,Croatia,230,87,254,10.2,Europe
44,Cyprus,192,154,113,8.2,Europe
45,Czech Republic,361,170,134,11.8,Europe
48,Denmark,224,81,278,10.4,Europe
61,France,127,151,370,11.8,Europe
64,Georgia,52,100,149,5.4,Europe
65,Germany,346,117,175,11.3,Europe
67,Greece,133,112,218,8.3,Europe
75,Hungary,234,215,185,11.3,Europe
81,Ireland,313,118,165,11.4,Europe
83,Italy,85,42,237,6.5,Europe
99,Luxembourg,236,133,271,11.4,Europe
105,Malta,149,100,120,6.6,Europe
113,Montenegro,31,114,128,4.9,Europe
120,Netherlands,251,88,190,9.4,Europe
126,Norway,169,71,129,6.7,Europe
136,Portugal,194,67,339,11.0,Europe
140,Romania,297,122,167,10.4,Europe
151,Serbia,283,131,127,9.6,Europe
155,Slovakia,196,293,116,11.4,Europe
156,Slovenia,270,51,276,10.6,Europe
160,Spain,284,157,112,10.0,Europe
165,Sweden,152,60,186,7.2,Europe
166,Switzerland,185,100,280,10.2,Europe
182,United Kingdom,219,126,195,10.4,Europe

In [14]:
len(df[(df['continent'] == 'Europe') & (df['wine_servings'] > 100)])

28

- negara apa yang paling banyak mengonsumsi spirit di benua Afrika?

kita lihat dulu negara-negara di Afrika

In [15]:
df[df['continent'] == 'Africa']

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
2,Algeria,25,0,14,0.7,Africa
4,Angola,217,57,45,5.9,Africa
18,Benin,34,4,13,1.1,Africa
22,Botswana,173,35,35,5.4,Africa
26,Burkina Faso,25,7,7,4.3,Africa
27,Burundi,88,0,0,6.3,Africa
28,Cote d'Ivoire,37,1,7,4.0,Africa
29,Cabo Verde,144,56,16,4.0,Africa
31,Cameroon,147,1,4,5.8,Africa
33,Central African Republic,17,2,1,1.8,Africa
34,Chad,15,1,1,0.4,Africa
38,Comoros,1,3,1,0.1,Africa
39,Congo,76,1,9,1.7,Africa
47,DR Congo,32,3,1,2.3,Africa
49,Djibouti,15,44,3,1.1,Africa
53,Egypt,6,4,1,0.2,Africa
55,Equatorial Guinea,92,0,233,5.8,Africa
56,Eritrea,18,0,0,0.5,Africa
58,Ethiopia,20,3,0,0.7,Africa
62,Gabon,347,98,59,8.9,Africa
63,Gambia,8,0,1,2.4,Africa
66,Ghana,31,3,10,1.8,Africa
70,Guinea,9,0,2,0.2,Africa
71,Guinea-Bissau,28,31,21,2.5,Africa
88,Kenya,58,22,2,1.8,Africa
95,Lesotho,82,29,0,2.8,Africa
96,Liberia,19,152,2,3.1,Africa
97,Libya,0,0,0,0.0,Africa
100,Madagascar,26,15,4,0.8,Africa
101,Malawi,8,11,1,1.5,Africa
104,Mali,5,1,1,0.6,Africa
107,Mauritania,0,0,0,0.0,Africa
108,Mauritius,98,31,18,2.6,Africa
114,Morocco,12,6,10,0.5,Africa
115,Mozambique,47,18,5,1.3,Africa
117,Namibia,376,3,1,6.8,Africa
123,Niger,3,2,1,0.1,Africa
124,Nigeria,42,5,2,9.1,Africa
142,Rwanda,43,2,0,6.8,Africa
148,Sao Tome & Principe,56,38,140,4.2,Africa
150,Senegal,9,1,7,0.3,Africa
152,Seychelles,157,25,51,4.1,Africa
153,Sierra Leone,25,3,2,6.7,Africa
158,Somalia,0,0,0,0.0,Africa
159,South Africa,225,76,81,8.2,Africa
162,Sudan,8,13,0,1.7,Africa
164,Swaziland,90,2,2,4.7,Africa
172,Togo,36,2,19,1.3,Africa
175,Tunisia,51,3,20,1.3,Africa
179,Uganda,45,9,0,8.3,Africa
183,Tanzania,36,6,1,5.7,Africa
191,Zambia,32,19,4,2.5,Africa
192,Zimbabwe,64,18,4,4.7,Africa

sekarang kita sorting secara **descending** berdasarkan **spirit_servings**. Karena kita hanya ingin tahu yang paling banyak mengonsumsi spirit jadi kita cukup ambil data teratasnya saja

In [17]:
df[(df['continent'] == 'Africa')].sort_values(['spirit_servings'], ascending=False).head(1)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
96,Liberia,19,152,2,3.1,Africa

sip, sekarang kita tau bahwa negara di benua Afrika yang mengonsumsi spirit terbanyak adalah Liberia. Haram ya jangan ikutan!

- berapa rata-rata konsumsi alkohol dari tiap benua?

langsung aja lah ya biar cepet, ez ini mah

In [21]:
df.groupby(['continent']).mean().sort_values(['total_litres_of_pure_alcohol'], ascending=False)

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
Europe,193.777778,132.555556,142.222222,8.617778
South America,175.083333,114.750000,62.416667,6.308333
North America,145.434783,165.739130,24.521739,5.995652
Oceania,89.687500,58.437500,35.625000,3.381250
Africa,61.471698,16.339623,16.264151,3.007547
Asia,37.045455,60.840909,9.068182,2.170455

nah eta