#### Descriptive Statistics vs Inferential Statistics

Descriptive statistics = menganalisa data yang sudah kita punya
Inferential statistics = memprediksi apa yang akan terjadi selanjutnya berdasarkan data yang sudah ada

descriptive statistics:
    - measure of frequency
    - measure of central tendency
    - measure of dispersion
    - measure of position

##### Measure of Frequency

menghitung frekuensi data tertentu

In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.DataFrame({'Nilai_Mahasiswa':['A','B','D','B','C','C','A','C','B','A','F']})
data1

   Nilai_Mahasiswa
0                A
1                B
2                D
3                B
4                C
5                C
6                A
7                C
8                B
9                A
10               F

In [3]:
data1['Nilai_Mahasiswa'].unique()

array(['A', 'B', 'D', 'C', 'F'], dtype=object)

In [4]:
data1['Nilai_Mahasiswa'].value_counts()

C    3
B    3
A    3
F    1
D    1
Name: Nilai_Mahasiswa, dtype: int64

##### Measure of Central Tendency

Mean, Median, Modus

Mean = rata-rata
Median = nilai tengah
Modus = nilai yang paling sering keluar

In [5]:
data2 = pd.DataFrame({'e':[5,3,4,5,6,9,10,3,4,3]})
data2

    e
0   5
1   3
2   4
3   5
4   6
5   9
6  10
7   3
8   4
9   3

In [10]:
print("Mean : ", data2['e'].mean())
print("Median : ", data2['e'].median())
print("Modus : ", data2['e'].mode().values[0]) #bentuk modus memang berbeda dari yang lain btw kalo di sini namanya mode

Mean :  5.2
Median :  4.5
Modus :  3

**Mean** kurang cocok dijadikan central tendency jika ada anomali pada data. **Median** bersifat lebih stabil sehingga cocok untuk digunakan ketika ada anomali. **Modul** digunakan ketika datanya berbentuk bukan angka.

contoh:

In [11]:
data2 = pd.DataFrame({'e':[5,3,4,5,6,9,10,3,4,3,100]})
data2

      e
0     5
1     3
2     4
3     5
4     6
5     9
6    10
7     3
8     4
9     3
10  100

In [12]:
print("Mean : ", data2['e'].mean())
print("Median : ", data2['e'].median())
print("Modus : ", data2['e'].mode().values[0]) #bentuk modus memang berbeda dari yang lain btw kalo di sini namanya mode

Mean :  13.818181818181818
Median :  5.0
Modus :  3

dari output di atas dapat kita lihat bahwa setelah ditambahkan data 100, mean berubah dengan sangat signifikan. Itu menunjukkan bahwa mean kurang cocok digunakan ketika ada anomali pada data. 100 itu sendiri disebut sebagai **outlier**

**Skewness dan Kurtosis**

Skewness adalah kecondongan kurva distribusi, maksudnya adalah melihat apakah data condong ke sebelah kiri atau kanan. Skewness berguna juga untuk menganalisis persebaran data
Contoh:

In [13]:
data2['e'].skew()

3.276283264095607

skewnessnya 3 artinya data tersebut lebih condong ke data yang bernilai 3 dan sekitarnya, apakah data tersebut condong ke kiri? mungkin saja ehe

kurtosis adalah keruncingan bentuk kurva distribusi frekuensi

In [14]:
data2['e'].kurt()

10.801373926714664