#### Descriptive Statistics vs Inferential Statistics

Descriptive statistics = menganalisa data yang sudah kita punya
Inferential statistics = memprediksi apa yang akan terjadi selanjutnya berdasarkan data yang sudah ada

descriptive statistics:
    - measure of frequency
    - measure of central tendency
    - measure of dispersion
    - measure of position

##### Measure of Frequency

menghitung frekuensi data tertentu

In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.DataFrame({'Nilai_Mahasiswa':['A','B','D','B','C','C','A','C','B','A','F']})
data1

   Nilai_Mahasiswa
0                A
1                B
2                D
3                B
4                C
5                C
6                A
7                C
8                B
9                A
10               F

In [3]:
data1['Nilai_Mahasiswa'].unique()

array(['A', 'B', 'D', 'C', 'F'], dtype=object)