# Working with Multiple Sheets

First of all, calling Pandas package just like this.

When we have data in a spreadsheet, it was so few to use just one sheet. So to change we will learn how to gather multi-sheet data that we use is a mathematical score that get two sheets.

**Sheet Kelamin**

<img src="assets/1.png" width="240" height="240" align="center"/>

**Sheet Nilai** 

<img src="assets/2.png" width="240" height="240" align="center"/>

Input **data_nilai_matematika1.xlsx** that in folder **data** with name **data_workbook**.

In [ ]:
# read workbook

Show ```dataworkbook```


Because there are many sheet, we will use attribute to open it

##### Attributes

In the spreadsheet that we used, we can see the name of sheet with using ```sheet_names()``` function.

Show the attribute

From excel data, we know from output that have two sheet, **Kelamin** and **Nilai**

##### Attributes vs methods vs functions

** Attributes **
- object.attribute
- workbook.sheet_names
- Show something (example : excel that called)
- Always attached to an object! (?)

** Methods **
- object.method()
- workbook.parse()
- Doing something (misalnya: only show just one variable)
- Always attached to an object! (?)

** Functions **
- function() or package.function()
- pd.ExcelFile()

Convert ```Kelamin``` variable to DataFrame with name parsing sheet ```parse('nama_sheet')```

Now we are parsing the data from sheet ```Nilai```

So, we can know that :
- pd.ExcelFile() (**function**)
- workbook.sheet_names (**attribute**)
- workbook.parse() (**method**)

---

##### Merging Table

##### Merging with VLOOKUP in Data Science

Merging Table in Python
<br>
We should know that Python is a programming language that have case sensitive( sensitive with upper and lower letter, space, etc)

Example:

Upper and lower case sensitive
- 'Andi' != 'andi'

Space sensitive
- 'Andi'!= 'Andi  '

Merge the table
- AB + ACD = ABCD, if we are only wanted to use ``ABC`` column
- We can delete ``D`` column

Note:

!= : Not equal with

##### How to Handle Case-Sensitive

In **data_kelamin** we can see that when we input data for **Nama** variable with capital letters, we can change as we like.

Change data with a lower letter.

In **data_kelamin**, first **Nama** data have all in capital letters. After using ``str.lower()``, we can change into lower letters.

Change data with all capital letter.

After using ``str.title()``, we can change into an upper letter for first word.

After using ``str.upper()`` can change into capital letter.

##### Space Handling

We are using ``str.strip()`` for deleting space in first or last word.

In [ ]:
# Handling whitespace with .str.strip()

We can see that in **Kelamin** data, in **Nama** variable with has two spaces, using ``str.strip()`` it will be just one space.

---

##### Choosing and Deleting Column

Choosing data from sheet **Kelamin** for **Nama** and **Kelamin** variable.

##### Deleting column with drop()

If we are not needed to using **Kelamin** variable in data, we can just deleting that column.

##### Merge Table: VLOOKUP in Python

It was so easy to merge sheet **data_kelamin** with **data_nilai**, with same variable **Nama** using function ```.merge('sheet data you want to convert', on='key column', how='join type( left/right/inner/outer )')```

##### left_on and right ketika .merge()

For example we want to using **data_nilai_matematika2.xlsx**

Look at **Kelamin** sheet.

So there are variable **Nama** and **Kelamin**

Look at **Nilai** sheet

So there are variable **Nama Siswa** and **Kelamin**

Join **data_kelamin** with **data_nilai** when with same data but the name variable is different.

```
.merge(data_nilai, 
                   left_on='Nama', 
                   right_on='Nama Siswa', 
                   how='left')
```