# Pandas

Pandas is a package for analyzing and structural for Python programming language. With Pandas package, we can analyze data easily; one of the features is DataFrame. With DataFrame we can read a file and convert it to the table. Another plus of DataFrame is can reading file from different format, such as .txt, .csv, .xlsx, etc.

First, import pandas package, like this :
```
import pandas as pd
```
We are using ```pd``` to become an alias of Pandas so that we can call them shorter.

Input **data_nilai_matematika** that found in folder **data** in excel format, write like this:
```
data = pd.read_excel('data/data_nilai_matematika.xlsx')
```

Print **data** with ```print()``` function.

From the data above, we know that the data have three variables, Nama, Kelamin and Nilai.

Show first 5 data of **data_nilai_matematika**

Show first 2 data of **data_nilai_matematika**

Show third data until eighth data of **data_nilai_matematika**

---
---

Take a look at the data's information.

From the output above, we are getting a total of our data which is 15 with a variable such as Nama, Kelamin and Nilai. Nama and Kelamin Variable is object data types, while Nilai is an integer data type.

Okay, we will introduce about data types that many people use:
- Object  : Alphabetic, Symbol, etc
- Integer : Real Number, such as 1, 5, -3, -10
- Float   : Decimal Number, such as 1.5, 3.7
- Boolean : Choice (True or False)

Look at statistical value using ```describe()``` function.

Sorting data based on **Nama** column

We can see that data is sorting based on **Nama** variable from A to Z, while other variables adjust the data itself.

Sorting index of the data that sort with **Nama** variable.

We see that the data is sort from zero until the end.

Let's try to sorting based on **Nilai** variable.

---
---

##### Row filtering and create column

Show data with just one column. In this case, we only show **Nama** variable.

We will introduce (again) with operator for comparison between two variable, such as:

- $==$ (equals)
- $!=$ (not equals)
- $<$ (less than)
- $>$ (more than)
- $<=$ (less or equals than)
- $>=$ (more or equals than)

Find data from **Nama** variable with **Iva** name.

Now, let's try to filtering our data.

Show data that **Nilai** column less than 80.

Let's change number of row (index)

Sort the data with ``reset_index()`` function. So, we get **Nilai** less than 80.

---
---

##### Create New Column

Operator Matematika
Mathematical Operator
- $+$ (Plus)
- $-$ (Minus)
- $*$ (Times)
- $/$ (Divide)

Create a new column with name **Nilai_akhir** from function **Nilai** + 10 variables, it means that whatever value of **Nilai** , added by 10.

We can see that in last column, there are one new column named **Nilai_akhir**

##### Create New Rows

Create new rows like this: <br>
{'Nama' : "Didi", 'Kelamin' : "Laki-laki", 'Nilai' : 89, 'Nilai_akhir' : 89+10}

We can see that in last row, new information is added.

Create DataFrame

Merge data with ``append()`` function.

### Reference

https://medium.com/codelabs-unikom/ketika-python-bertemu-pandas-part-1-993bc9122f13